<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleExecutable</key>
    <string>AudioVideoMerger</string>
    <key>CFBundleIdentifier</key>
    <string>com.kapoko.audiovideomerger</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>Audio Video Merger</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>2.0.0</string>
    <key>CFBundleVersion</key>
    <string>2.0.0</string>
    <key>LSMinimumSystemVersion</key>
    <string>11.0</string>
    <key>LSMultipleInstancesProhibited</key>
    <true/>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>mp4</string>
                <string>mov</string>
                <string>avi</string>
                <string>mkv</string>
                <string>m4v</string>
                <string>mpg</string>
                <string>mpeg</string>
                <string>ts</string>
                <string>m2ts</string>
                <string>mts</string>
                <string>mxf</string>
                <string>3gp</string>
                <string>3g2</string>
                <string>wmv</string>
                <string>flv</string>
                <string>f4v</string>
                <string>webm</string>
                <string>ogv</string>
                <string>mp3</string>
                <string>wav</string>
                <string>aif</string>
                <string>aiff</string>
                <string>caf</string>
                <string>aac</string>
                <string>ac3</string>
                <string>eac3</string>
                <string>m4a</string>
                <string>flac</string>
                <string>ogg</string>
                <string>opus</string>
                <string>amr</string>
                <string>wma</string>
            </array>
            <key>CFBundleTypeName</key>
            <string>Media Files</string>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
        </dict>
    </array>
</dict>
</plist>
