@import "variables";

.drop-zone {
    $margin: 1.2rem;
    $border-width: 10px;

    background-color: #fff;
    border-radius: 0.4rem;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 15%);
    display: flex;
    flex-grow: 1;
    margin: $margin;
    overflow: hidden;
    padding: $border-width;
    position: relative;
    transition: box-shadow 0.3s, background-color 0.15s;
    width: calc(100% - #{$margin * 2} - #{$border-width * 2});

    .gradient-border {
        animation: moveGradient 2s alternate infinite;
        background: linear-gradient(60deg, $secondary 0%, $primary 100%);
        background-position: 0 50%;
        background-size: 200% 200%;
        bottom: -$border-width;
        left: -$border-width;
        position: absolute;
        right: -$border-width;
        top: -$border-width;
        transform: rotate(30deg) scale(1.55) translate3d(0, 100%, 0);
        transition: transform cubic-bezier(0.33, 1, 0.68, 1) 0.6s;
    }

    .inner {
        align-items: center;
        background-color: #fff;
        border: 2px dashed #dedede;
        border-radius: 0.2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: border-color 0.2s;
        width: 100%;
        z-index: 1;
    }

    &.is-dragging {
        background: #f5f5f5;
        border-color: #aaa;
        box-shadow: 0 2px 15px 0 rgb(0 0 0 / 30%);

        .inner {
            border-color: transparent;
        }

        .gradient-border {
            transform: rotate(30deg) scale(1.55) translate3d(0, 0, 0);
        }
    }

    h1 {
        pointer-events: none;
    }

    .mdc-fab {
        bottom: $margin * 2;
        position: absolute;
        right: $margin * 2;
    }
}

@keyframes move-gradient {
    50% {
        background-position: 100% 50%;
    }
}
