html, body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-color: #e2e2e2;
    color: #555;
    margin: 0;
    user-select: none;
    height: 100%;
    width: 100%;
    display: flex;
}

p {
    text-align: center;
}

.app-root {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}