.progress-ring {
    align-items: center;
    display: flex;
    justify-content: center;

    > * {
        position: absolute;
    }

    .circle {
        transform: rotate(-90deg);
        transform-origin: 50% 50%;
        transition: 0.35s stroke-dashoffset;
    }

    .circle-background {
        stroke: #d6d6d6;
    }

    h1 {
        font-weight: 600;
    }
}
