@use "sass:math";

@keyframes move-gradient {
    50% {
        background-position: 100% 50%;
    }
}

.download-button {
    $border-width: 5px;
    $transition-speed: 0.3s;

    align-items: center;
    animation: moveGradient 2s infinite alternate;
    background: linear-gradient(60deg, $secondary 0%, $primary 100%);
    background-position: 0 50%;
    background-size: 200% 200%;
    border: 0;
    box-shadow: 0 5px 21px 0 rgb(0 0 0 / 30%);
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex: 1 1 0;
    font-family: $font-family-headers;
    font-size: 1.5em;
    font-weight: $font-weight-bold;
    padding: 0.4em 0.8em;
    position: relative;
    text-decoration: none;
    transition: box-shadow $transition-speed;

    &:hover,
    &:active {
        text-decoration: none;
    }

    &::before {
        background-color: #000;
        inset: 0;
        content: "";
        display: block;
        position: absolute;
        transition: opacity $transition-speed;
        z-index: 0;
    }

    &::after {
        background-color: #fff;
        inset: $border-width $border-width $border-width $border-width;
        content: "";
        display: block;
        position: absolute;
        transform: scaleX(0);
        transform-origin: 0 50%;
        transition: cubic-bezier(0.33, 1, 0.68, 1) transform $transition-speed;
        z-index: 0;
    }

    svg {
        font-size: 1.5em !important;
        margin-right: 0.5em;
        transition: color math.div($transition-speed, 2) math.div($transition-speed, 4);
        z-index: 1;
    }

    small {
        font-size: 0.5em;
        font-weight: $font-weight-normal;
    }
    
    .version {
        margin-top: -0.3em
    }

    > span {
        display: flex;
        flex-direction: column;
        line-height: 1em;
        margin-top: -0.15em;
        text-align: left;
        transition: color math.div($transition-speed, 2);
        z-index: 1;

        > span {
            white-space: nowrap;
        }
    }

    &:hover {
        box-shadow: none;
        color: #000;

        &::before {
            opacity: 0;
            transition: opacity math.div($transition-speed, 2);
        }

        &::after {
            transform: scaleX(0.9999); /* Instead of 1, prevents pixel shift in Chrome */
        }

        svg {
            transition: color math.div($transition-speed, 2);
        }

        > span {
            transition: color $transition-speed * 0.6 $transition-speed * 0.1;
        }
    }
}
