$font-family-headers: 'Roboto', sans-serif;
$font-family-base: 'Merriweather', serif;
$line-height-base: 1.8;
$primary: #fbc50c;
$secondary: #be3d16;
$font-size-base: 1.1rem;
$enable-responsive-font-sizes: true;
