name: Release

on:
  push:
    tags:
      - "v*"

jobs:
  build: 
    uses: ./.github/workflows/build.yml

  release:
    needs: build
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [macos-latest]

    steps:      
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          path: dist

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          prerelease: contains(github.ref, 'beta')
          files: |
            dist/*/**.zip
